name: Publish to PyPI

on:
  release:
    types: [published] 
  workflow_dispatch: 

permissions:
  contents: read

jobs:
  build:
    name: Build project
    runs-on: ubuntu-latest
    steps:
      - name: Get version
        id: get_version
        run: |
          $short_ref_name = $("${{github.ref_name}}".Substring(0, [math]::Min(10, "${{github.ref_name}}".Length)))
          $short_sha = $(git rev-parse --short ${{github.sha}})
          echo "version=$short_ref_name-$short_sha" >> $env:GITHUB_OUTPUT

      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
          
      - name: Install build tool
        run: python -m pip install --upgrade build

      - name: Build distributions
        run: python -m build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: argumentor
          path: dist/

  publish:
    name: Publish to PyPI
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/argumentor-gardehal/
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: argumentor
          path: dist/
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1