name: Publish to PyPI

on:
  release:
    types: [published] 
  workflow_dispatch: 

permissions:
  contents: read

jobs:
  build:
    name: Build Argumentor ${{github.ref_name}}
    runs-on: ubuntu-latest
    outputs:
      version: ${{steps.get_version.outputs.version}}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
          
      - name: Install build tool
        run: python -m pip install --upgrade build

      - name: Build distributions
        run: python -m build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: argumentor
          path: dist/

  publish:
    name: Publish to PyPI
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/argumentor-gardehal/
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: argumentor
          path: dist/
          
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1